
@{
    ViewData["Title"] = "Welcome to our College";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Proper deatails about our College.</h2>

<ul>
    <li> <a asp-controller="Store" asp-action="Details" asp-route-detail="Timing"> Timing </a></li>
    <li> <a asp-controller="Store" asp-action="Details" asp-route-detail="Staff">Staff </a></li>
    <li> <a asp-controller="Store" asp-action="Details" asp-route-detail="Location"> Location </a></li>
</ul>

